/* - Remove useless suggestion around the video description - C2 */
#related, #ticket-shelf, #merch-shelf {
  display: none !important;
}
#secondary{
  width: auto!important;
  min-width: 0!important;
}
.ytd-horizontal-card-list-renderer {
  display: none !important;
}

/* - Simplify youtube logo to make it more discrete - P1 */
#country-code, #logo-container .content-region{
  display: none !important;
}
#logo svg, #logo-container .logo, #footer-logo{
  filter: grayscale(1);
  opacity: 0.5;
}

/* - Remove end screen video suggestions - P2 C1 */
.watch-sidebar{
  display: none !important;
}
.videowall-endscreen{
  display: none !important;
}

/* - Desaturate thumbnails - U1 */
.ytd-thumbnail img.yt-img-shadow,
.ytp-cued-thumbnail-overlay-image{
  filter: saturate(0.8) contrast(0.8)
}

/* - Use a neutral color for the bottom video progress bar - P1 */
.ytp-swatch-background-color {
  background-color: #fff !important;
}

/* - Use a neutral color for the subscribe button - P1 C3 */
button.yt-spec-button-shape-next.yt-spec-button-shape-next--filled.yt-spec-button-shape-next--mono {
  background-color: grey;
  color:white;
}

/* - Remove bottom right video branding - U3 */
.iv-branding{
  display: none
}

/* - Remove the theater button - U2 */
.ytp-size-button{
  display: none !important;
}

/* - Remove the minify button - U2 */
.ytp-miniplayer-button{
  display: none !important;
}

/* - Remove the "next video" button when the video is not in a playlist - C2 C3 */
.ytp-next-button{
  display: none !important;
}
.ytp-play-button-playlist+.ytp-next-button{
  display: inline-block  !important;
}

/* - Remove video thumbnail autoplay - C3 */
.ytd-moving-thumbnail-renderer{
  display: none!important
}

/* - Remove autoplay toggle button - C3 */
button[data-tooltip-target-id="ytp-autonav-toggle-button"] {
  display: none !important;
}

/* - Remove misleading or unrelated sections from the search page - U2 C3 */
ytd-two-column-search-results-renderer[is-search="true"] .ytd-item-section-renderer[thumbnail-style=""]{
  display:none !important
}
